<div style="margin-top: 2rem">
  <div class="input-group">
    <input type="file" class="form-control" id="customFile" multiple (change)="onChange($event)"/>
  </div>

  <p id="arquivosSelecionados" style="margin-top: 2rem"></p>

  <div class="progress" style="margin-top: 2rem">
    <div 
      class="progress-bar" 
      role="progressbar" 
      style="width: 25%;"
      [style.width]="progress + '%'"
    > {{ progress }} </div>
  </div>

  <div style="margin-top: 2rem">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files"> Upload </button>
  </div>

  <div style="margin-top: 2rem">
    <button type="button" class="btn btn-success" (click)="onDownloadExcel()"> Download Excel  </button>
    <button type="button" class="btn btn-warning" (click)="onDownloadPdf()"> Download PDF  </button>
  </div>


</div>